html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 780px) {
  .navbar {
    display: none;
  }
}

.active {
  color: #474544;
}

.container {
  background-color: #222;
}

.icon {
  background-color: #222;
  height: 50px;
  width: 100vw;
}

@media screen and (min-width: 780px) {
  .icon {
    display: none;
  }
}

.fa-bars {
  height: 40px;
  width: 40px;
  font-size: 22px;
  position: absolute;
  color: whitesmoke;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.fa-bars:hover {
  cursor: pointer;
}

.fa-times {
  height: 40px;
  width: 40px;
  font-size: 22px;
  position: absolute;
  color: whitesmoke;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.fa-times:hover {
  cursor: pointer;
  color: rgb(253, 68, 68);
}

.dropdown-content {
  position: relative;
  background-color: #222;
  width: 100%;
  height: 60%;
  border-radius: 5px;
  padding: 50px;
  margin: 20px;
  margin-top: 45px;
  z-index: 1;
}

.list-item {
  text-align: right;
  padding: 15px;
  background-color: #222;
  border-top: 1px solid #b9d6ba;
  border-bottom: 1px solid #b9d6ba;
  border-radius: 5px;
}

.list-item:hover {
  background-color: #5ab4d5;
  font-weight: bold;
  border-radius: 5px;
}

.clickable {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.dropdown-social {
  text-align: right;
}

.social-item {
  font-size: 32px;
  position: relative;
  display: inline;
  text-align: right;
  margin: 8px;
}

.social-item:hover {
  cursor: pointer;
}

.fa-twitter-square {
  color: #009ded;
}

.fa-github-square {
  color: whitesmoke;
}

.aboutcontainer {
  background-color: lightcoral;
}

.aboutcontainer {
  background-color: rgb(89, 72, 72);
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

@media screen and (max-width: 660px) {
  .aboutcontainer {
    display: flex;
    flex-direction: column;
  }
}

img {
  width: 100%;
  padding: 40px;
  border-radius: 2px;
}
.abouttext {
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  width: 100%;
  padding: 40px;
}

.abouttext::first-letter {
  font-size: 32px;
  color: #222;
}
.copyright {
  color: steelblue;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.8;
  text-align: center;
  position: relative;
  top: 2500px;
  padding-bottom: 20px;
}
