@media screen and (max-width: 780px) {
  .navbar {
    display: none;
  }
}

.active {
  color: #474544;
}

.container {
  background-color: #222;
}

.icon {
  background-color: #222;
  height: 50px;
  width: 100vw;
}

@media screen and (min-width: 780px) {
  .icon {
    display: none;
  }
}

.fa-bars {
  height: 40px;
  width: 40px;
  font-size: 22px;
  position: absolute;
  color: whitesmoke;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.fa-bars:hover {
  cursor: pointer;
}

.fa-times {
  height: 40px;
  width: 40px;
  font-size: 22px;
  position: absolute;
  color: whitesmoke;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.fa-times:hover {
  cursor: pointer;
  color: rgb(253, 68, 68);
}

.dropdown-content {
  position: relative;
  background-color: #222;
  width: 100%;
  height: 60%;
  border-radius: 5px;
  padding: 50px;
  margin: 20px;
  margin-top: 45px;
  z-index: 1;
}

.list-item {
  text-align: right;
  padding: 15px;
  background-color: #222;
  border-top: 1px solid #b9d6ba;
  border-bottom: 1px solid #b9d6ba;
  border-radius: 5px;
}

.list-item:hover {
  background-color: #5ab4d5;
  font-weight: bold;
  border-radius: 5px;
}

.clickable {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.dropdown-social {
  text-align: right;
}

.social-item {
  font-size: 32px;
  position: relative;
  display: inline;
  text-align: right;
  margin: 8px;
}

.social-item:hover {
  cursor: pointer;
}

.fa-twitter-square {
  color: #009ded;
}

.fa-github-square {
  color: whitesmoke;
}

#contact-form {
  position: relative;
  top: 100px;
  border: 1px solid rgb(163, 161, 161);
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 500px;
  margin: 30px;
  padding: 20px;
  left: 20%;
}

@media screen and (max-width: 670px) {
  #contact-form {
    width: 75%;
    left: 5%;
  }
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px;
  display: inline-block;
}

.submitBtn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 25%;
}

.clearBtn {
  background-color: #b6121a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 25%;
}

.copyright {
  color: steelblue;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.8;
  text-align: center;
  position: relative;
  top: 2500px;
  padding-bottom: 20px;
}
