* {
  box-sizing: border-box;
}

html {
  margin: auto;
  background-color: #f4fff4;
}

.pagetop h1, h4, h5 {
    color: rgb(59, 59, 59);
    font-family: "Helvetica", "Courier", sans-serif;
  
}

#my-name {
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  #my-name {
    width: 100px;
  }
}

.diff-font {
  padding: 2px;
}

.email-font {
  font-style: italic;
  padding: 2px;
}

#time {
  color: rgb(59, 59, 59);
  border: 1px solid steelblue;
  border-radius: 8px;
  width: 140px;
  height: auto;
  position: fixed;
  top: 10px;
  right: 100px;
  text-align: center;
}

@media only screen and (max-width: 390px) {
  #time {
    display: none;
  }
}

#time:hover {
  cursor: default;
}

#local-time-message {
  font-family: 'Roboto';
  font-size: 18px;
}

@media only screen and (max-width: 464px) {
  #local-time-message {
    display: none;
  }
}

#local-time {
  font-family: "Roboto";
}

#social-links {
  list-style-type: none;
  position: fixed;
  right: 10px;
  top: 0;
}

.fa {
  padding: 10px;
  border: 2px solid green;
  border-radius: 50px;
  background-color: whitesmoke;
}

.fa:hover {
  background-color: rgb(187, 212, 184);
  cursor: pointer;
}

.fa-twitter {
  color: #6db6f2;
}

.fa-github {
  color: black;
}

.fa-book {
  color: #ba2236;
}

#panel {
  color: #f9fae8;
  background-color: #69a167;
  padding: 10px;
  width: 170px;
  height: 42px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

#panel:after {
  content: ' \25FF';
  position: relative;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

#panel:hover {
  padding-right: 5px;
}

#panel:hover:after {
  opacity: 1;
  right: 0;
}

#content {
  color: rgb(59, 59, 59);
  padding: 10px;
  background-color: rgb(237, 250, 204);
  width: 100%;
  display: none;
  position: relative;
  border: 0.5px solid rgb(59, 59, 59);
  border-radius: 8px;
}

@media only screen and (min-width: 600px) {
  #content {
    width: 600px;
  }
}

#content-message {
  font-weight: bold;
}

.wsheader {
  font-family: "Helvetica", sans-serif;
  color: rgb(59, 59, 59);
  font-size: 22px;
}

.wsaheader {
  font-family: "Helvetica", sans-serif;
  color: rgb(59, 59, 59);
  font-size: 22px;
}

.writingsamples {
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 0 4px 8px 0 rgb(59, 59, 59);
  border-radius: 10px;
  position: relative;
  max-width: 100%;
  opacity: 0.8;
  transition: 0.2s;
}

.writingsamples:hover {
  opacity: 1;
  border: 2px groove rgb(59, 59, 59);
}

.writings-amazon {
  border: 1px solid #888888;
  box-shadow: 0 4px 8px 0 rgb(59, 59, 59);
  border-radius: 10px;
  position: relative;
  max-width: 100%;
  opacity: 0.9;
  transition: 0.2s;
}

.writings-amazon:hover {
  opacity: 1;
  border: 2px groove rgb(59, 59, 59);
}

div.gallery {
  padding: 10px;
  margin: 20px;
}

div.gallery:hover {
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 5px 10px rgb(59, 59, 59);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left;
}

.responsive {
  display: inline-grid;
  padding: 10px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive, {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

div.gall-amazon {
  padding: 10px;
  margin: 20px;
}

div.gall-amazon:hover {
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 5px 10px rgb(59, 59, 59);
}

div.gall-amazon img {
  width: 100%;
  height: auto;
}

div.description-amazon {
  padding: 15px;
  text-align: left;
}

.resp-amazon {
  display: inline-grid;
  padding: 10px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .resp-amazon {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .resp-amazon {
    width: 100%;
  }
}

.iconify {
  color: darkblue;
  position: relative;
  left: 0;
}

.iconify:hover {
  height: 13%;
  width: 13%;
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: block;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(59, 59, 59);
  margin-top: 25px;
  border-radius: 8px;
  background-color: rgb(236, 250, 202);
  padding: 10px;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media only screen and (min-width: 300px) {
  .container {
    height: 330px;
    width: 370px;
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 300px) {
  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

legend {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 24px;
  margin: 20px;
  text-align: left;
}

.form-control {
  font-family: "Roboto", sans-serif;
  margin: 7px;
  height: 30px;
  width: 150px;
  border-radius: 4px;
}

button {
  margin: 5px auto 5px 10px;
  padding: 5px;
  border-radius: 4px;
}

.col-75 {
  float: left;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 600px) {
  .col-75, input[type=submit], textarea {
    margin-top: 0;
  }
}

.error {
  color: red;
}

.copyright {
  color: steelblue;
  opacity: 0.8;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 1200px;
}
