
html {
  height: auto;
  width: auto;
  margin: auto;
}

.lemons {
  display: block;
  position: absolute;
  max-width: 95%;
  height: auto;
  opacity: 0.1;
  z-index: 0;
}

.pagetop {
  background: linear-gradient(#367842, #fcfcf7);
  border-top: 2px groove #c24a56;
  max-width: 100%;
  height: auto;
}

.pagetop h1 {
  padding: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 280%;
  text-align: justify;
  text-decoration: underline;
  margin: 10px;
}

.pagetop h4 {
  margin: 20px;
  font-family: sans-serif;
}

.pagetop img {
  width: 100%;
}

.email-font {
  padding-left: 30px;
  max-width: 100%;
  height: auto;
  font-style: italic;
  text-align: left;
}

.email-font:hover {
  cursor: auto;
}

p#lang-head {
  max-width: 55%;
  height: auto;
  padding: 8px;
  border-top: 2px groove #c24a56;
  border-left: 1px ridge #c24a56;
  border-radius: 1em 1em;
  font-family: "Rockwell", sans-serif;
  font-size: 90%;
  text-align: left;
}

.sidebar-list {
  right: 25px;
  font-family: "Rockwell", sans-serif;
  font-size: 75%;
  margin: auto;
  height: auto;
  position: relative;
}

.sidebar-list li {
  display: inline-flex;
  color: #c24a56;
  padding: 7px;
}

.sidebar-list img {
  padding-right: 5px;
}

div.socialmedia {
  height: 25px;
  margin-bottom: 15px;
}

.socialmedia ul li {
  position: relative;
  display: inline-table;
}

.fa {
  max-width: 100%;
  height: auto;
  border-style: solid;
  border-color: #c24a56;
  padding: 5px;
  opacity: 0.6;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.9;
}

.fa-twitter {
  margin-right: 10px;
  background: white;
  color: #3e8cb3;
}

.fa-github {
  margin-left: 10px;
  padding: 5px;
  color: black;
}

.fa-book{
  color: #b30e0e;
  background-color: white;
  margin-left: 20px;
}

div.about {
  margin: auto;
  max-width: 100%;
  height: auto;
  position: relative;
  float: left;
  display: block;
  padding: 20px;
  border-right: 2px groove #c24a56;
  border-bottom: 8px groove #c24a56;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  background-color: #367842;
  background: linear-gradient(#fcfcf7, #367842);
}

.about img {
  right: 20px;
  opacity: 0.8;
  width: auto;
  padding: 5px;
  position: relative;
  border-radius: 1em 1em 1em 1em;
}

.myinfo {
  max-width: 45%;
  text-align: left;
  font-family: "Rockwell", serif;
  color: #59191d;
  font-size: 13px;
  padding: 5px;
  display: block;
}

div#links {
  background-color: #9e9194;
  background: linear-gradient(white, #9e9194);
  float: left;
  top: 1488px;
  max-width: 100%
  height: auto;
  position: absolute;
  display: block;
  border-top: 1px groove #c24a56;
  border-bottom: 5px groove #c24a56;
}

div#links h3 {
  max-width: 100%;
  height: auto;
  position: relative;
  margin-left: 10px;
}

div#links li {
  position: relative;
  max-width: 100%;
  height: auto;
  list-style: none;

}

div#links a {
  color: black;
  text-decoration: none;
}

.fa-amazon {
  margin-top: 10px;
  margin-right: 4px;
  position: relative;
  float: right;
  bottom: 65px;
}

.writingsamples {
  border-bottom: 5px ridge red;
  border-bottom-left-radius: 2em;
  top: 1250px;
  display: block;
  position: absolute;
  float: left;
  max-width: 100%;
  height: auto;
}

.writingsamples img {
  border-bottom: 3px ridge #59191d;
  border-bottom-left-radius: 2em;
}

/*CONTACT FORM*/
div.container {
  display: block;
  position: absolute;
  float: left;
  max-width: 50%;
  height: auto;
  top: 1888px;
  padding: 5px;
}

fieldset {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;

}

div#name-field  {
  padding: 5px;
  opacity: 0.7;
}

div#name-field:hover {
  opacity: 0.9;
}

div#email-field {
  padding: 5px;
  opacity: 0.7;
}

div#email-field:hover {
  opacity: 0.9;
}

div#subject-field {
  padding: 5px;
  opacity: 0.7;
}

div#subject-field:hover {
  opacity: 0.9;
}

div#message-field {
  opacity: 0.7;
  margin-top: -15px;
}

div#message-field:hover {
  opacity: 0.9;
}

div>form:hover {
  opacity: 0.9;
}


.copyright {
  top: 1888px;
  max-width: 100%;
  height: auto;
  position: relative;
  font-size: 85%;
  text-align: center;
}

.copyright:hover {
  cursor: default;
}

.icon {
  max-width: 100%;
  height: auto;
  position: relative;
  top: 1893px;
  color: lightblue;
  text-decoration: none;
  text-align: center;
  font-size: 65%;
  font-weight: bold;
}
