* {
  box-sizing: border-box;
}

@media screen and (max-width: 780px) {
  .navbar {
    display: none;
  }
}

.active {
  color: #474544;
}

.container {
  background-color: #222;
}

.icon {
  background-color: #222;
  height: 50px;
  width: 100vw;
}

@media screen and (min-width: 780px) {
  .icon {
    display: none;
  }
}

.fa-bars {
  height: 40px;
  width: 40px;
  font-size: 22px;
  position: absolute;
  color: whitesmoke;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.fa-bars:hover {
  cursor: pointer;
}

.fa-times {
  height: 40px;
  width: 40px;
  font-size: 22px;
  position: absolute;
  color: whitesmoke;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.fa-times:hover {
  cursor: pointer;
  color: rgb(253, 68, 68);
}

.dropdown-content {
  position: relative;
  background-color: #222;
  width: 100%;
  height: 60%;
  border-radius: 5px;
  padding: 50px;
  margin: 20px;
  margin-top: 45px;
  z-index: 1;
}

.list-item {
  text-align: right;
  padding: 15px;
  background-color: #222;
  border-top: 1px solid #b9d6ba;
  border-bottom: 1px solid #b9d6ba;
  border-radius: 5px;
}

.list-item:hover {
  background-color: #5ab4d5;
  font-weight: bold;
  border-radius: 5px;
}

.clickable {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.dropdown-social {
  text-align: right;
}

.social-item {
  font-size: 32px;
  position: relative;
  display: inline;
  text-align: right;
  margin: 8px;
}

.social-item:hover {
  cursor: pointer;
}

.fa-twitter-square {
  color: #009ded;
}

.fa-github-square {
  color: whitesmoke;
}

.rowone {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 30px 10px 0 10px;
}

@media screen and (max-width: 650px) {
  .rowone {
    display: flex;
    flex-direction: column;
    padding: 30px;
    left: 150px;
    width: 45%;
  }
}

@media screen and (max-width: 530px) {
  .rowone {
    display: flex;
    flex-direction: column;
    left: 10%;
    width: 100%;
  }
}

.column img {
  height: 200px;
  width: 200px;
}

.rowtwo {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  margin: 10px;
}

@media screen and (max-width: 650px) {
  .rowtwo {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 660px) {
  .rowtwo {
    margin: auto;
  }
}

.proheader,
.shortheader {
  position: relative;
  background: whitesmoke;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  font-size: 28px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-bottom: 2px solid #333;
}

.storytitleone {
  margin: 10px;
  padding: 0.5rem 0.75rem;
  width: 40%;
  margin-bottom: 30px;
}

h3 {
  letter-spacing: 0.1rem;
}

.storytitletwo {
  margin: 10px;
  padding: 0.5rem 0.75rem;
  width: 60%;
  margin-bottom: 30px;
}

.amazonclick {
  text-align: left;
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
}

p.enlarge {
  text-align: left;
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
}

.copyright {
  color: steelblue;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.8;
  text-align: center;
  position: relative;
  top: 2500px;
  padding-bottom: 20px;
}
